<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949076326947-ea59v2087rrfi329mnnjdgbvi64bukr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949076326947-ea59v2087rrfi329mnnjdgbvi64bukr7</string>
	<key>API_KEY</key>
	<string>AIzaSyCXJ_UhUT9N-3uRqdUWThzgDNBpvElP6A4</string>
	<key>GCM_SENDER_ID</key>
	<string>949076326947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SandeepBhardwaj.flashChat</string>
	<key>PROJECT_ID</key>
	<string>f-chat-2ad0f</string>
	<key>STORAGE_BUCKET</key>
	<string>f-chat-2ad0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949076326947:ios:e884b001bd0f01e68a0f96</string>
</dict>
</plist>